$primary-color:#AD1457;
$text-color:#fff;


.el-header,
.el-footer {
  background-color: $primary-color;
  color:$text-color;
  text-align: center;
  line-height: 60px;
}
.el-aside {
  background-color: #ffffff;
  color:$text-color;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #e9eef3;
  color:$text-color;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.menu-nav{
  background-color: $primary-color;
  .el-menu-item {
    color:$text-color;
  }
}